html {
    position: relative;
    min-height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
}
#pageMenu{
    display: flex;
}
.pageMenuItem{
    padding: 1em;
    margin: .5em;
}
.pageMenuItem:hover{
  background-color: grey;
}
.removeLinkDecor{
    color: black;
    text-decoration: none;
}
body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}
#symptomsMap {
  margin-top: 5em;
  height: 25em;
  width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8%;
    width: 100%;
    overflow: hidden;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  display: flex;
}
.inputStyle {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.autocompleteInput {
  background-color: #f1f1f1;
  width: 100%;
}
.autocompleteSubmit{
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}